{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block head %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block main %}
    <div style="max-width:330px" class="m-auto">
        <h1>注册</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="" >用户名</label>
                <input type="text" name="username" class="form-control" placeholder="请输入用户名" />
            </div>
            <div class="mb-3">
                <label for="" >邮箱</label>
                <input type="text" name="email" class="form-control" placeholder="请输入邮箱" />
            </div>
            <div class="mb-3">
                <label for="" >验证码</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="请输入验证码" name="captcha" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="captcha-btn">获取验证码</span>
                </div>
            </div>
            

            <div class="mb-3">
                <label for="" >密码</label>
                <input type="password" name="password" class="form-control" placeholder="请输入密码" />
            </div>

            <div class="mb-3"> 
                <button class="btn btn-primary w-100">立即注册</button>
            </div>
        </form>
    </div>
{% endblock %}